html,body{
    width: 98%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
body{
}
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter:;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(129, 129, 129, 0.4) 70%,rgba(255, 255, 255, 0) 100%);
}
h1{
    color: rgb(0, 0, 0);
}
#island{
    display: flex;
    width: 148px;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.419);
    transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.55);


    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#island:hover{
    top: 0 ;
    margin-top: 3rem;
    width: 390px;
    height: 6rem;
    transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.55);
}


#head-a{
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.55);
    height: 0;
    display: flex;
    width: 0;
    font-size:0rem;
    border-radius: 999px;
    align-items: center;


}
#island:hover #head-a{
    background-color: rgba(255, 255, 255, 0.581);
    color: rgb(0, 0, 0);
    align-items: center;
    font-size:3rem;
    width: 19%;
    transition: all 0.3s cubic-bezier(0.68, -0.75, 0.265, 1.55);
    height: 74.1px;
    font-size: 2rem;
    -webkit-tap-highlight-color: transparent;
}
#island:hover #head-a:hover{
    transform: scale(0.9);
}
#icon{
    transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.55);
}

#text{
    width: 100%;
    height: 20rem;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#t1{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 20rem;
    border-radius: 30px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px;
}
p{

    font-size: 25px;
    font-family: 'Microsoft YaHei';
}
#t2{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 20rem;
    border-radius: 30px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px;
}
#shaodaw{
    width: 200px;
    height: 200px;
border-radius: 40px;
background: #f4f4f4;
box-shadow:  18px 18px 36px #828282,
        -18px -18px 36px #ffffff;
}
#foot{
    width: 100%;
    height: 50%;
}
button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 1em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  -webkit-tap-highlight-color: transparent;
}

button:active {
  -webkit-tap-highlight-color: transparent;
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
