/* 五子棋组件命名空间 gobang- 防止和你网站样式冲突 */
.gobang-wrap{
    width:100%;
    height:80%;
    overflow: auto;
    background:#DEB887;
    scrollbar-width: thin;
    position:relative;
}
.gobang-wrap::-webkit-scrollbar {
    width:6px;
    height:6px;
}
.gobang-wrap::-webkit-scrollbar-thumb{
    background:#997852;
}

/* 内部滚动大画布 放大1.5倍，可以拖拽滚动 */
.gobang-canvas{
    position:relative;
    transform: scale(0.9);
    width:150%;
    height:150%;
    padding:4%;
}
/* 棋盘交叉线（JS动态生成，不再使用background背景！！根除错位） */
.gobang-line{
    background:#333;
    position:absolute;
}
.gobang-h-line{
    width:92%;
    height:1px;
    left:4%;
}
.gobang-v-line{
    height:92%;
    width:1px;
    top:4%;
}

/* 棋子：百分比定位，自适应 */
.gobang-chess{
    width:4.2%;
    height:4.2%;
    border-radius:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-shadow:2px 2px 4px #0006;
    z-index:2;
}
.gobang-black{background:radial-gradient(#444,#000)}
.gobang-white{background:radial-gradient(#fff,#bbb)}

.gobang-tip{
    position:absolute;
    top:-6%;
    left:50%;
    transform:translateX(-50%);
    color:#fff;
    font-size:16px;
    white-space:nowrap;
    z-index:99;
}
